@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts.css";
@import "typo.css";
@import "ui.css";
@import "menu.css";
@import "menu-mobile.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-black;
}

@layer base {
  .wrapper {
    @apply w-full px-6 mx-auto md:px-8 sm:max-w-5xl md:max-w-6xl lg:max-w-[1512px];
  }
}

/* WooCommerce */

/* main > .woocommerce {
  @apply border-2 border-orange;
} */
/* nav.woocommerce-breadcrumb {
  @apply !hidden;
} */

/* .woocommerce-result-count {
  @apply hidden;
} */

/* .woocommerce .woocommerce-breadcrumb {
  margin: 0px 2em;
} */



ul > .pagenav {
  @apply hidden; 
}

#sidebar {
  @apply hidden;
}


/* SINGLE PRODUCT PAGE */
.woocommerce {
  @apply  m-auto typo-body py-9;
}

#main > .product.type-product {
  @apply w-[65%] m-auto top-[20vh] bg-gray rounded-[5px];
} 

.summary.entry-summary {
  @apply border-2 top-2 left-2;
}

h1.product_title.entry-title {
  @apply mb-3 border-2 typo-h4;
}

p.price {
  @apply typo-body;
}

.woocommerce-product-details__short-description > p {
  @apply my-3;
}

/* CART */

.wc-stripe-payment-request-wrapper > .checkout-button .button .alt .wc-forward .wp-element-button {
  @apply bg-orange;
}

