@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts.css";
@import "typo.css";
@import "ui.css";
@import "menu.css";
@import "menu-mobile.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-black;
}

@layer base {
  .wrapper {
    @apply w-full px-6 mx-auto md:px-8 sm:max-w-5xl md:max-w-6xl lg:max-w-[1512px];
  }
}

/* WooCommerce */

/* ============================== ALL PRODS PAGE ==============================*/
/* prod container */
.woocommerce .products ul, .woocommerce ul.products {
  @apply m-auto lg:w-[90%] xl:w-[1220px] px-6 lg:px-0 flex flex-row justify-evenly;
}
/* prod list */
.woocommerce ul.products > li {
  @apply justify-center box-shadow;
}
.woocommerce img.attachment-woocommerce_thumbnail {
  @apply mb-2 border-b border-gray;
}
/* prod title */
h2.woocommerce-loop-product__title {
  @apply text-center typo-h4;
}
/* prod price */
.price  {
  @apply text-center !text-black typo-h5 normal-case; 
} 
/* prod card btns */
.woocommerce ul.products li.product a.button {
  @apply text-white bg-black hover:bg-orange hover:text-white sm:woo-cta;
}
/* prod added to cart pop-up msg */
.woocommerce-notices-wrapper .woocommerce-message {
  @apply typo-cta lg:w-[90%] xl:w-[1220px] m-auto;
}
/* prod added to cart pop-up btn */
.woocommerce-notices-wrapper .woocommerce-message a.button {
  @apply mb-2 text-white duration-200 ease-in bg-black md:mb-0 hover:bg-orange hover:text-black;
}
/* hide default sorting options and result count */ 
select.orderby {
  @apply hidden;
}
p.woocommerce-result-count {
  @apply hidden;
}

/* ============================== SINGLE PROD PAGE ==============================*/
/* single prod page container*/
/* #content {
  @apply border-2 border-blue mt-9 md:mt-24 m-auto lg:w-[90%] xl:w-[1220px] px-6 lg:px-0 ;
} */

/* .single-prod-page {
  @apply border-2 border-orange mt-9 md:mt-24 m-auto lg:w-[90%] xl:w-[1220px] px-6 lg:px-0;
} */

/* product image */
.woocommerce-product-gallery__wrapper {
  @apply border-2 border-red-600;
}

/* prod info */
.summary {
  @apply flex flex-col justify-center border-2 border-black;
}

.summary h1 {
  @apply py-2 border-2 border-orange typo-h5;
}

/* .woocommerce-product-details__short-description {
  @apply border-2 border-black; 
} */

p.price {
  @apply text-left border-2 border-green-500;
}

/* description, additional info container*/
/* .wc-tabs-wrapper {
  @apply border-2 border-red-500 bg-gray;
} */
.wc-tabs-wrapper > ul {
  @apply border-2 border-green-500;
}


/* ============================== MY ACCOUNT ==============================*/
/* ---------- dashboard ---------- */
/* nav container */
.woocommerce .woocommerce-MyAccount-navigation {
  @apply w-full py-3 md:py-6 bg-gray my-9 md:my-24;
}
.woocommerce .woocommerce-MyAccount-navigation > ul {
  @apply flex flex-col md:flex-row text-center justify-between lg:w-[90%] xl:w-[1220px] m-auto px-6 lg:px-0 h-[12vh] md:h-auto;
}
.woocommerce .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link a {
  @apply px-3 py-2 typo-link;
}
.woocommerce .woocommerce-MyAccount-navigation .woocommerce-MyAccount-navigation-link a:hover {
  @apply border-[1px] border-black ;
}
/* content container */
.woocommerce .woocommerce-MyAccount-content {
  @apply w-full h-full px-6 py-12 m-auto text-center lg:px-0 box-shadow-container -my-9 md:-my-24;
}
.woocommerce-MyAccount-content > p {
  @apply  py-2 m-auto normal-case md:py-4 typo-h6 md:max-w-3xl;
}
.woocommerce-MyAccount-content > p > strong {
  @apply text-orange;
}
.woocommerce-MyAccount-content > p > a {
  @apply border-b border-blue;
}
/* ---------- orders ---------- */
.woocommerce-MyAccount-content table.woocommerce-orders-table {
  @apply px-6 m-auto md:max-w-3xl lg:px-0;
}
.woocommerce-orders-table th.woocommerce-orders-table__header {
  @apply uppercase typo-subheading;
}
.woocommerce-orders-table td.woocommerce-orders-table__cell {
  @apply typo-body;
}
.woocommerce-orders-table__cell a.woocommerce-button {
  @apply woo-secondary;
}
/* ---------- view orders ---------- */
/* order details */
.woocommerce-MyAccount-content  p > mark.order-number, mark.order-date, mark.order-status {
  @apply text-orange bg-inherit;
}
.woocommerce-MyAccount-content .woocommerce-order-details {
  @apply px-6 py-4 m-auto md:max-w-3xl lg:px-0;
}
.woocommerce-order-details .woocommerce-order-details__title {
  @apply mb-2 uppercase typo-subheading;
}
.woocommerce-table > thead, .woocommerce-column > h2 {
  @apply uppercase typo-subheading;
}
.woocommerce-columns > h2 {
  @apply pb-1;
}
.woocommerce-column--2 > h2 {
  @apply mt-6 md:mt-0;
}
td.woocommerce-table__product-name, td.woocommerce-table__product-total {
  @apply typo-h6;
}
.woocommerce-table > tfoot {
  @apply typo-subheading-small;
}
/* billing and shipping address */
.woocommerce-customer-details {
  @apply py-9 md:py-24 lg:w-[90%] xl:w-[1220px] m-auto px-6 lg:px-0;
}
.woocommerce-columns {
  @apply normal-case typo-subheading-medium;
}
.woocommerce-columns .woocommerce-column > address {
  @apply text-center;
}

/* ============================== CART ==============================*/
/* ---------- what's in cart info ---------- */
/* cart container */
.woocommerce-cart-form {
  @apply lg:w-[90%] xl:w-[1220px] pt-9 md:pt-24 m-auto typo-h6 px-6 lg:px-0;
}
/* cart img */
.woocommerce-cart-form  .product-thumbnail a {
  @apply flex justify-center ;
}
.woocommerce .attachment-woocommerce_thumbnail {
  @apply min-w-[70px]; /*border-2 border-black */
}
.woocommerce .shop_table h3.product-name-h {
  @apply typo-cta;
}
/* remove btn */
/* .woocommerce .woocommerce-cart-form .shop_table td.product-remove a.remove {
  @apply bg-none;
} */

/* qty btns */
.woocommerce td.product-quantity button.minus, button.plus {
  @apply typo-h4 hover:bg-black hover:rounded-full w-[42px] h-[42px] hover:text-white;
}
/* below cart items container */
.woocommerce td.actions {
  @apply typo-subheading-small;
}
/* coupon input */
.woocommerce td.actions .coupon input.input-text {
  @apply !w-1/2 rounded-sm;
}
/* coupon btn */
.woocommerce td.actions .coupon button.button {
  @apply relative left-0 typo-subheading-small woo-secondary top-1;
}
/* ---------- shipping info/details ---------- */
.woocommerce .cart-collaterals {
  @apply lg:w-[90%] xl:w-[1220px] m-auto pt-9 md:pt-24;
}
/* shipping container */
.woocommerce .cart-collaterals {
  @apply px-6 lg:px-0;
}
.woocommerce .cart_totals .shop_table {
  @apply border-2 border-gray;
}
/* table headings */
.woocommerce .cart_totals .shop_table tr > th {
  @apply typo-cta;
}
/* table rows */
.woocommerce .cart_totals .shop_table tr > td {
  @apply normal-case typo-h6;
}
/* checkout btn */
.woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt {
  @apply w-1/2 m-auto woo-cta typo-cta;
}











/* .woocommerce .woocommerce-breadcrumb {
  @apply border-2 border-black mt-9 md:mt-24;
  margin: 0px 2em;
}

.woocommerce-product-details__short-description{
  max-width: 435px;
}

.product_category_title{
  font-size: 16px;
}

.woocommerce button.button.alt{
  background-color: #617C7C;
  color: #fff;
  width: 161px;
  height: 37px;
  border-radius: 0;
}

.minus, .plus{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 200;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  border: none;
  background: #BFC7C7;
}



.woocommerce .quantity .qty{
  border: none;
  width: 1.631em;
  font-size: 24px;
  font-weight: 600;
}

.variations tr{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.woocommerce div.product form.cart .variations select {
  max-width: 100%;
  min-width: 250px;
  height: 45px;
  display: inline-block;
  margin-right: 1em;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
  color: #617C7C;
  font-size: 16px;
}

.woocommerce-variation-add-to-cart{
display: flex;
flex-direction: column;
gap: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
background: #C4C4C4;
font-size: 10px;
z-index: 2;
border-radius: 0;
border-bottom-color: #fff;
padding: 0px 2em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
padding: 0px 0 0 0em;
}


.up-sells, .upsells {
background-color: #BFC7C7;
padding: 40px;
}

.woocommerce #content div.product .woocommerce-tabs, 
.woocommerce div.product .woocommerce-tabs, 
.woocommerce-page #content div.product .woocommerce-tabs, 
.woocommerce-page div.product .woocommerce-tabs {
  clear: both;
  padding: 50px;
} */









/* #content > main > .product {
  @apply my-9 md:my-24 bg-gray;
}

.woocommerce button.button.alt{
  background-color: #617C7C;
  color: #fff;
  width: 161px;
  height: 37px;
  border-radius: 0;
} */

/* .product.type-product {
  @apply border-2 border-black;
} */



/* ul.products {
  @apply relative border-2 border-blue top-[200px] left-[200px];
} */

/* main#main.site-main {
  @apply border-2 border-blue mt-9 md:mt-24;
}

.woocommerce-ordering > ul {
  @apply border-2 border-orange;
}

nav.woocommerce-breadcrumb {
  @apply border-2 border-orange my-9 md:my-24;
}

ul.products {
  @apply border-2 border-red-600;
}

ul.products > li.product .type-product {
  @apply bg-gray;
}

img.attachment-woocommerce_thumbnail .size-woocommerce_thumbnail {
  @apply bg-orange;
} */


/* nav.woocommerce-breadcrumb {
  @apply !hidden;
} */

/* .woocommerce-result-count {
  @apply hidden;
} */

/* .woocommerce .woocommerce-breadcrumb {
  margin: 0px 2em;
} */








/* SINGLE PRODUCT PAGE */
/* .woocommerce {
  @apply w-[65%] typo-body py-9 m-auto;
}

#main > .product.type-product {
  @apply w-[65%] m-auto top-[20vh] bg-gray rounded-[5px];
} 

.summary.entry-summary {
  @apply border-2 top-2 left-2;
}

h1.product_title.entry-title {
  @apply mb-3 border-2 typo-h4;
}

p.price {
  @apply typo-body;
}

.woocommerce-product-details__short-description > p {
  @apply my-3;
}

/* CART */

/* .wc-stripe-payment-request-wrapper > .checkout-button .button .alt .wc-forward .wp-element-button {
  @apply bg-orange;
}  */

