@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "fonts.css";
@import "typo.css";
@import "ui.css";
@import "menu.css";
@import "menu-mobile.css";


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply text-black;
}

@layer base {
  .wrapper {
    @apply w-full px-6 mx-auto md:px-8 sm:max-w-5xl md:max-w-6xl lg:max-w-[1512px];
  }
}

/* WooCommerce */

/* ============================== SHOP PAGE ==============================*/
/* entire page - container*/

/* .page-description {
  @apply border-2 border-black;
} */

/* product container */
/* #main.site-main {
  @apply border-2 border-orange;
} */

/* breadcrumb above products */
/* nav.woocommerce-breadcrumb {
  @apply flex justify-center m-auto border-2 border-red-500 typo-h2;
} */

/* products parent container */
.woocommerce .products ul, .woocommerce ul.products {
  @apply m-auto lg:w-[90%] xl:w-[1220px] flex justify-between content-center flex-col md:flex-row border-2 border-blue;
}

/* product list */
.woocommerce ul.products > li {
  @apply justify-center border-2 box-shadow border-blue;
}

/* product title */
h2.woocommerce-loop-product__title {
  @apply text-center border-t border-gray typo-h4;
}

/* product price */
/* .woocommerce > ul.products > li.product > .price {
  @apply border-2 border-orange typo-h6;
}  */

.price  {
  @apply text-center text-black typo-h6;      /*============================ COLOR?! */
} 

/* hide default sorting options and result count */ 
select.orderby {
  @apply hidden;
}

p.woocommerce-result-count {
  @apply hidden;
}

bdi {
  @apply !text-black;
}


/* ============================== SINGLE PROD PAGE ==============================*/
/* single prod page container*/
/* #content {
  @apply border-2 border-blue mt-9 md:mt-24 m-auto lg:w-[90%] xl:w-[1220px] px-6 lg:px-0 ;
} */

/* .single-prod-page {
  @apply border-2 border-orange mt-9 md:mt-24 m-auto lg:w-[90%] xl:w-[1220px] px-6 lg:px-0;
} */

/* product image */
.woocommerce-product-gallery__wrapper {
  @apply border-2 border-red-600;
}

/* prod info */
.summary {
  @apply flex flex-col justify-center border-2 border-black;
}

.summary h1 {
  @apply py-2 border-2 border-orange typo-h5;
}

.woocommerce-product-details__short-description {
  @apply border-2 border-black; 
}

p.price {
  @apply text-left border-2 border-green-500;
}







/* description, additional info container*/
.wc-tabs-wrapper {
  @apply border-2 border-red-500 bg-gray;
}
.wc-tabs-wrapper > ul {
  @apply border-2 border-green-500;
}


/*================*/






.woocommerce button.button.alt{
  background-color: #617C7C;
  color: #fff;
  width: 161px;
  height: 37px;
  border-radius: 0;
}

.minus, .plus{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 200;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  border: none;
  background: #BFC7C7;
}



.woocommerce .quantity .qty{
  border: none;
  width: 1.631em;
  font-size: 24px;
  font-weight: 600;
}

.variations tr{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.woocommerce div.product form.cart .variations select {
  @apply border-2 border-orange;
  max-width: 100%;
  min-width: 250px;
  height: 45px;
  display: inline-block;
  margin-right: 1em;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
  color: #617C7C;
  font-size: 16px;
}

.woocommerce-variation-add-to-cart{
display: flex;
flex-direction: column;
gap: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
background: #C4C4C4;
font-size: 10px;
z-index: 2;
border-radius: 0;
border-bottom-color: #fff;
padding: 0px 2em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
padding: 0px 0 0 0em;
}


.up-sells, .upsells {
background-color: #BFC7C7;
padding: 40px;
}

.woocommerce #content div.product .woocommerce-tabs, 
.woocommerce div.product .woocommerce-tabs, 
.woocommerce-page #content div.product .woocommerce-tabs, 
.woocommerce-page div.product .woocommerce-tabs {
  clear: both;
  padding: 50px;
}


/* .woocommerce .woocommerce-breadcrumb {
  @apply border-2 border-black mt-9 md:mt-24;
  margin: 0px 2em;
}

.woocommerce-product-details__short-description{
  max-width: 435px;
}

.product_category_title{
  font-size: 16px;
}

.woocommerce button.button.alt{
  background-color: #617C7C;
  color: #fff;
  width: 161px;
  height: 37px;
  border-radius: 0;
}

.minus, .plus{
  font-family: 'Courier New', Courier, monospace;
  font-size: 30px;
  font-weight: 200;
  height: 43px;
  width: 43px;
  border-radius: 50%;
  border: none;
  background: #BFC7C7;
}



.woocommerce .quantity .qty{
  border: none;
  width: 1.631em;
  font-size: 24px;
  font-weight: 600;
}

.variations tr{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.woocommerce div.product form.cart .variations select {
  max-width: 100%;
  min-width: 250px;
  height: 45px;
  display: inline-block;
  margin-right: 1em;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
}

.woocommerce div.product p.price, .woocommerce div.product span.price{
  color: #617C7C;
  font-size: 16px;
}

.woocommerce-variation-add-to-cart{
display: flex;
flex-direction: column;
gap: 30px;
}

.woocommerce div.product .woocommerce-tabs ul.tabs li.active {
background: #C4C4C4;
font-size: 10px;
z-index: 2;
border-radius: 0;
border-bottom-color: #fff;
padding: 0px 2em;
}

.woocommerce div.product .woocommerce-tabs ul.tabs {
padding: 0px 0 0 0em;
}


.up-sells, .upsells {
background-color: #BFC7C7;
padding: 40px;
}

.woocommerce #content div.product .woocommerce-tabs, 
.woocommerce div.product .woocommerce-tabs, 
.woocommerce-page #content div.product .woocommerce-tabs, 
.woocommerce-page div.product .woocommerce-tabs {
  clear: both;
  padding: 50px;
} */









/* #content > main > .product {
  @apply my-9 md:my-24 bg-gray;
}

.woocommerce button.button.alt{
  background-color: #617C7C;
  color: #fff;
  width: 161px;
  height: 37px;
  border-radius: 0;
} */

/* .product.type-product {
  @apply border-2 border-black;
} */



/* ul.products {
  @apply relative border-2 border-blue top-[200px] left-[200px];
} */

/* main#main.site-main {
  @apply border-2 border-blue mt-9 md:mt-24;
}

.woocommerce-ordering > ul {
  @apply border-2 border-orange;
}

nav.woocommerce-breadcrumb {
  @apply border-2 border-orange my-9 md:my-24;
}

ul.products {
  @apply border-2 border-red-600;
}

ul.products > li.product .type-product {
  @apply bg-gray;
}

img.attachment-woocommerce_thumbnail .size-woocommerce_thumbnail {
  @apply bg-orange;
} */


/* nav.woocommerce-breadcrumb {
  @apply !hidden;
} */

/* .woocommerce-result-count {
  @apply hidden;
} */

/* .woocommerce .woocommerce-breadcrumb {
  margin: 0px 2em;
} */








/* SINGLE PRODUCT PAGE */
/* .woocommerce {
  @apply w-[65%] typo-body py-9 m-auto;
}

#main > .product.type-product {
  @apply w-[65%] m-auto top-[20vh] bg-gray rounded-[5px];
} 

.summary.entry-summary {
  @apply border-2 top-2 left-2;
}

h1.product_title.entry-title {
  @apply mb-3 border-2 typo-h4;
}

p.price {
  @apply typo-body;
}

.woocommerce-product-details__short-description > p {
  @apply my-3;
}

/* CART */

/* .wc-stripe-payment-request-wrapper > .checkout-button .button .alt .wc-forward .wp-element-button {
  @apply bg-orange;
}  */

