/* Typography */

/*BASE PX SIZE: 16*/
* {
  @apply antialiased;
}

html,
body {
  font-size: 85%;
  font-family: 'Libre Baskerville';
  font-weight: 400;
  line-height: 85%;
}

@screen md {
  html,
  body {
    font-size: 90%;
    line-height: 90%;
  }
}

@screen lg {
  html,
  body {
    font-size: 100%;
    line-height: 100%;
  }
}


@layer base {

  /*Nav and btn*/
  .typo-link {
    @apply uppercase ;
    font-family: '"Josefin Sans"';
    font-weight: 700; 
    font-size: 0.875em; /*14px*/
    line-height: 1.36em; /*19px*/
  }


  /*CTA btns*/
  .typo-cta {
    @apply uppercase;
    font-family: '"Josefin Sans"';
    font-weight: 700; 
    font-size: 1.3em; /*16px*/
    line-height: 1.31em; /*21px*/
  }

  .typo-h4 {
    @apply uppercase;
    font-family: '"Josefin Sans"';
    font-weight: 700; 
    font-size: 2em; /*32px*/
    line-height: 1.34em; /*43px*/
  }
  





}